/*Section 7 css start*/
.section_7 {
  display: flex;
  padding: 0 1.5rem;
  padding-top: 10rem; 
  flex-wrap: wrap; 
}

.section_7_left,
.section_7_middle,
.section_7_right {
  flex: 33.33%;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

.section_7_left {
  padding-left: 0;
  margin-right: 3rem; 
}

.section_7_middle {
  padding-left: 2rem;
  margin-right: 3rem;
}

.section_7_right {
  padding-left: 2rem;
}

.section_7_left a,
.section_7_middle a,
.section_7_right a {
  text-decoration: none;
  transition: color 0.2s;
}

.section_7_left a {
  font-size: 4rem;
  line-height: 4rem;
  color: var(--grey-light);
  margin-bottom: 2rem; 
  font-weight: 500;
}

.section_7_left a sup {
  font-size: 1rem; 
}

.section_7_left a:first-of-type {
  color: var(--primary);
}

.section_7_middle a,
.section_7_right a {
  font-size: 2.4rem; 
  line-height: 2.8rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: var(--grey);
}

.section_7_left a:hover,
.section_7_middle a:hover,
.section_7_right a:hover {
  color: var(--blue-dark);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .section_7 {
    padding-top: 4rem;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .section_7_left,
  .section_7_middle,
  .section_7_right {
    flex: 100%;
    margin-bottom: 2rem;
    padding: 0;
  }

  .section_7_left a,
  .section_7_middle a,
  .section_7_right a {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1.5rem; 
  }
}


/*Section 7 css end*/
